<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <app-logo></app-logo>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a [routerLinkActive]="['active']" class="nav-link" routerLink="character">Postać</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" class="nav-link" routerLink="skills">Umiejetnosci i Talenty</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" class="nav-link" routerLink="equipment">Ekwipunek</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" class="nav-link" routerLink="spells">Czary i Modlitwy</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" class="nav-link" routerLink="additional">Dodatkowe</a>
        </li>
      </ul>
    </div>

    <app-dropdown></app-dropdown>
  </div>
</nav>