<table mat-table [dataSource]="incantations" class="table table-striped table-bordered table-hover">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nazwa</th>
      <td mat-cell *matCellDef="let incantation"> {{ incantation.name }} </td>
    </ng-container>
  
    <ng-container matColumnDef="spellLevel">
      <th mat-header-cell *matHeaderCellDef>Poziom</th>
      <td mat-cell *matCellDef="let incantation"> {{incantation.spellLevel }} </td>
    </ng-container>
  
    <ng-container matColumnDef="rangeInMeters">
      <th mat-header-cell *matHeaderCellDef>Zasięg (m)</th>
      <td mat-cell *matCellDef="let incantation"> {{ incantation.rangeInMeters }} </td>
    </ng-container>
  
    <ng-container matColumnDef="targetsAmount">
      <th mat-header-cell *matHeaderCellDef>Liczba celów</th>
      <td mat-cell *matCellDef="let incantation"> {{ incantation.targetsAmount }} </td>
    </ng-container>
  
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Czas trwania</th>
      <td mat-cell *matCellDef="let incantation"> {{ incantation.duration }} </td>
    </ng-container>
  
    <ng-container matColumnDef="effect">
      <th mat-header-cell *matHeaderCellDef>Opis</th>
      <td mat-cell *matCellDef="let incantation"> {{ incantation.effect }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
    <tr mat-row *matRowDef="let row; columns: columndefs;"></tr>
  </table>