<main class="container">
  <div class="row justify-content-evenly">

    <div class="col-8">
      <div class="set">
       <app-general [characterID]="characterID"></app-general>
      </div>

      <div class="set" >
        <app-appearance [characterID]="characterID"></app-appearance>
      </div>

      <div class="set">
        <app-points [characterID]="characterID"></app-points>
      </div>

      <div class="set">
        <app-experience [characterID]="characterID"></app-experience>
      </div>

      <div class="set">
        <app-psychology-effects [characterID]="characterID"></app-psychology-effects>
      </div>
    </div>  

    <div class="col-4 ">
      <div class="position-sticky">
        <img src="https://github.com/Vorgel.png">

        <div class="set2">
          <app-vitality [characterID]="characterID"></app-vitality>
        </div>
      </div>
    </div>
    
  </div>
</main>
