<div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/Vorgel.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>Vorgel</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" >Karty postaci</a></li>
      <li><a class="dropdown-item" >Ustawienia</a></li>
      <li><a class="dropdown-item" >Profil</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" >Wyloguj się</a></li>
    </ul>
  </div>